# Do not add any personal User Stories unless they are demos
user_stories/*
!user_stories/demos
test.json

# Ignore local environment variables
.env

# Ignore virtual environment
venv/*
.venv/*

# Ignore IDE configuration
.idea
.vscode

# Ignore Python's cache
__pycache__